mixin c-toggleSwitch--conversion(id,text)
    +b.c-toggleSwitch
        +e.btn
            input(type="checkbox" id=id)
            label(for=id)
        +e.label
            span.text-white= text

mixin c-toggleSwitch(id,text)
    +b.c-toggleSwitch
        +e.btn
            input(type="checkbox" id=id)
            label(for=id)
        +e.label
            span= text
